## Settings file was created by plugin Pony Models v1.1.0
## Plugin GUID: blud.PonyModelReplacement

[Dynamic Bone Settings]

## Refreshes dynamic bones more times per second the higher the number
# Setting type: Single
# Default value: 60
Update rate = 60

## Enable to disable physics past the specified range
# Setting type: Boolean
# Default value: false
Disable physics at range = false

## If Disable physics at range is enabled, this is the range after which physics is disabled.
# Setting type: Single
# Default value: 20
Distance to disable physics = 20

[Suits to Replace Settings]

## Enable to replace every suit that hasn't been otherwise registered with Applejack.
# Setting type: Boolean
# Default value: false
Enable Applejack as default = false

